/*
 * Perzoot - general.css
 *
 * This file specifies the base style for elements, as well as the style for any
 * items in base.html, and any commonly used styles used all over the site
 * (such as form elements, common link styles, etc.).
 */

/* Colors
--------------------------------------------------
bright blue		#1F77FF
				#0F4ABE
bright green	#00AD00
darker blue		#224CC4
				#0055E5
dark grey		#333
grey			#CCC
light grey		#F1F1F1;
*/


/* HTML elements base style
-------------------------------------------------- */
body {
	color: #222;	
	font-family: Helvetica, Arial, FreeSans, sans-serif;
	background: #DBE8F3;
}
a {color: #0F4ABE;}
a:hover {color: #1F77FF;}
 
input {
	font-family: inherit;
	/*
-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
*/
}
#main {
	background-color: #FFF;
	min-height: 400px;
}

/* Header
-------------------------------------------------- */
#header {
	background-color: #1F77FF;
	background-image: url(/m/img/header_bg_3.png);
	border-bottom: 1px solid #FFF;
	height: auto;
	position: relative;
	white-space: nowrap;
	width: 100%;
	z-index: 10;
	-moz-box-shadow: 0 0 4px #000;
}
#logo_div {
	height: 55px;
}
#logo_div img {
	margin-left: 10px;
}
#user_block {
	color: #FFF;
	/* font-weight: bold; */
	margin: 6px 10px 0 0;
	text-align: right;
	width: 290px;
}
#user_block img {
	vertical-align: text-top;
	border: 1px solid #FFF;
	background: #FFF;
}
#user_block a {
	color: #FFF;
	font-weight: bold;
	margin: 0 3px;
	padding: 0;
	position: relative
	text-decoration: none;
	vertical-align: top;
}
#login_link, #logout, #register_link {
	margin: 0 0 0 10px !important;
}
#user_block a.oauth_logo {
	background-image: url(/m/img/icons/icons.png);
	display: inline-block;
	height: 24px;
	margin: 0 0 0 3px;
	position: relative;
	/* top: 4px; */
	width: 24px;
}
#oauth_linkedin {
	background-position: -24px -80px;
}
#oauth_facebook {
	background-position: 0 -80px;
}
#oauth_twitter {
	background-position: -48px -80px;
}



/*
 * Footer
 */
#footer {
	border-top: 1px solid #CCC;
	padding: 20px 0;
	text-align: center;
	color: #666;
}



/* Common look and feel styles
-------------------------------------------------- */
#tooltip {
	position:absolute;
	z-index:999;
	left: -9999px;
}
#tooltip p {
	margin: 0;
	color: #fff;
	background-color: #222;
	padding: 2px 7px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
ul.plain {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.button {
	border: 1px solid #0F4ABE;
	background-color: #1f77ff;
	color: #FFF;
	font-weight: bold;
	padding: 3px;
}
.button:hover {
	background-color: #4BB050;
	cursor: pointer;
	border: 1px solid #2C682F;
}

/* Dialog Window
-------------------------------------------------- */

#id_message { 
	height: 150px;
	width: 500px;
}
