/*
 * Perzoot - general.css
 *
 * This file specifies the base style for elements, as well as the style for any
 * items in base.html, and any commonly used styles used all over the site
 * (such as form elements, common link styles, etc.).
 */
 
 
/*
 * Colors
 *
bright blue		#1F77FF
				#0055E5
				
darker blue		#224CC4
				#0F4ABE
				
bright green	#00AD00

dark grey		#333
grey			#CCC
light grey		#F1F1F1;

*/

/* Imported fonts
-------------------------------------------------- */

@font-face {
  font-family: "Lucida Sans";
  src: url(/m/fonts/LucidaSansStd.otf) format("opentype");
}
@font-face {
  font-family: "Helvetica Ultra Light";
  src: url(/m/fonts/HelveticaNeueLTStd-UltLt.otf) format("opentype");
}
@font-face {
  font-family: "Helvetica Thin";
  src: url(/m/fonts/HelveticaNeueLTStd-Th.otf) format("opentype");
}
@font-face {
  font-family: "Helvetica Roma";
  src: url(/m/fonts/HelveticaNeueLTStd-Roman.otf) format("opentype");
}

/* HTML elements base style
-------------------------------------------------- */


body {
	color: #222;	
	font-family: Helvetica, Arial, FreeSans, sans-serif;
	background: #FFF;
}
a {
	color: #1F77FF;
	text-decoration: none
}
a:hover {	
	color: #1F77FF;
	text-decoration: underline;
}
 
input {
	color: #222;
	font-family: Helvetica, Arial, FreeSans, sans-serif;;
}
input:focus {
	outline: 0;
}
.input_box {
	border-width: 1px;
	border-style: solid;
	border-color: #999 #CCC #CCC;
}
.search_button {
	border: 1px solid #0055E5;
	color: white;
	-moz-box-shadow: inset 0 1px 0px 0px #68B1F0;
	box-shadow: inset 0 1px 0px 0px #00ADF0;
	-webkit-box-shadow: inset 0 1px 0px 0px #00ADF0;
}
#main {
	background-color: #FFF;
	min-height: 400px;
	padding-top: 55px;
}

/* Header
-------------------------------------------------- */
#header {
	background-color: #1F77FF;
	background-image: url(/m/img/header_bg.png);
	border-bottom: 1px solid #AAA;
	height: auto;
	font-weight: bold;
	position: absolute;
	white-space: nowrap;
	width: 100%;
	z-index: 10;
	-moz-text-shadow: 0 1px 0 #FFF;
	/* -moz-box-shadow: 0 0 1px #000; */
}
#logo_div {
	height: 55px;
}
#logo_div img {
	margin-left: 0px;
}
#user_block {
	color: #FFF;
	/* font-weight: bold; */
	margin: 6px 10px 0 0;
	text-align: right;
	width: 290px;
}
#user_block img {
	vertical-align: text-top;
	border: 1px solid #FFF;
	background: #FFF;
}
#user_block a {
	color: #FFF;
	font-weight: bold;
	margin: 0 3px;
	padding: 0;
	position: relative
	text-decoration: none;
	vertical-align: top;
}
#login_link, #logout, #register_link {
	margin: 0 0 0 10px !important;
}
#user_block a.oauth_logo {
	background-image: url(/m/img/icons/icons.png);
	display: inline-block;
	height: 24px;
	margin: 0 0 0 3px;
	position: relative;
	/* top: 4px; */
	width: 24px;
	vertical-align: middle;
}
#oauth_linkedin {
	background-position: -24px -80px;
}
#oauth_facebook {
	background-position: 0 -80px;
}
#oauth_twitter {
	background-position: -48px -80px;
}


/*
 * Footer
 */
#footer {
	background: #F2F2F2; 
	border-top: 1px solid #CCC;
	padding: 20px 0;
	text-align: center;
	color: #666;
}



/* Common look and feel styles
-------------------------------------------------- */
#tooltip {
	position:absolute;
	z-index:999;
	left: -9999px;
}
#tooltip p {
	margin: 0;
	color: #fff;
	background-color: #222;
	padding: 2px 7px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
ul.plain {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.button {
	border: 1px solid #0F4ABE;
	background-color: #1f77ff;
	color: #FFF;
	font-weight: bold;
	padding: 3px;
}
.button:hover {
	background-color: #4BB050;
	cursor: pointer;
	border: 1px solid #2C682F;
}

/* Dialog Window
-------------------------------------------------- */

#id_message { 
	height: 150px;
	width: 500px;
}
