/*
 * Perzoot - general.css
 *
 * This file specifies the base style for elements, as well as the style for any
 * items in base.html, and any commonly used styles used all over the site
 * (such as form elements, common link styles, etc.).
 */


/* HTML elements base style
-------------------------------------------------- */
body {
	color:#222;	
	font-family: "Helvetica Neue Light", Helvetica, Arial, sans-serif;
	background: #DBE8F3;
}

a:hover {
	color: #4BB050;
}

/* Header
-------------------------------------------------- */
#header {
	/* border-bottom: 1px solid #CCC; */
	background-color: #1f77ff;
	height: 63px;
	white-space: nowrap;
}
#user_block {
	text-align: right;
	margin: 6px 10px 0 0;
	color: #fff;
	width: 290px;
}

#user_block IMG {
	vertical-align: text-top;
	border: 1px solid #fff;
	background: #fff;
}

#user_block A {
	margin: 0 2px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}

#login_link, #logout, #register_link {
	margin: 0 0 0 10px !important;
}

#logo_div {
	height: 63px;
}

/* Middle 
-------------------------------------------------- */
#main {
	background: #fff;
}


/* Footer
-------------------------------------------------- */
#footer {
	border-top: 1px solid #CCC;
	padding: 20px 0;
	text-align: center;
	color: #666;
}



/* Common look and feel styles
-------------------------------------------------- */

.tooltip {
	position:absolute;
	z-index:999;
	left: -9999px;
}

.tooltip p {
	margin: 0;
	color: #fff;
	background-color: #222;
	padding: 2px 7px;
	border-radius: 3px;
}


ul.plain {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.button {
	border: 1px solid #0F4ABE;
	background-color: #1f77ff;
	color: #FFF;
	font-weight: bold;
	padding: 3px;
}
.button:hover {
	background-color: #4BB050;
	cursor: pointer;
	border: 1px solid #2C682F;
}

/* Dialog Window
-------------------------------------------------- */

