/*
 * index.css - specific styles for the homepage
 */


/* Middle styles
-------------------------------------------------- */
#searchbox {
	margin: 100px auto 140px auto;
	text-align: center;
}

#search_bar {
	margin: 0 auto 10px;
	width: 570px;
}
.tagline {
	color: #222;
	font-size: 2.2em;
	font-weight: normal;
	font-family: "Helvetica Roman", Helvetica, Arial, FreeSans, sans;
	margin-bottom: 20px;
	padding: 0;
	white-space: nowrap;
/* 	text-shadow: 1px 0 0 #666; */
}
#id_keywords {
	border-width: 1px;
	border-style: solid;
	border-color: #999 #CCC #CCC;
	color: #222;
	font-size: 18px;
	float: left;
	height: 32px;
	margin: 0;
	padding: 0px 10px;
	width: 450px;
}
#search_button {
	background-color: #1F77FF;
	background-image: url(/m/img/search_sprite.png);
	background-position: 0 0;
	/* color: white; */
	font-size: 16px;
	/* font-weight: bold; */
	float: left;
	height: 34px;
	margin: 0 0 0 5px;
	padding: 4px 10px 4px;
	text-shadow: 0 1px 1px #333;
	width: 90px;
}
#search_button:hover {
	cursor: pointer;
}
#search_button:active {
	background-image: url(/m/img/search_sprite.png);
	background-position: 0 -64px;
	color: #CCC;
	-moz-box-shadow: inset 0 1px 0px 0px #2145BF;
}

#city_select {
	font-size: 1.2em;
}

#id_city {
	border-width: 1px;
	border-style: solid;
	border-color: #999 #CCC #CCC;	padding: 2px 5px;
	font-size: 0.9em;
	width: 120px;
}
#id_city:hover {
	/*
background-color: #EEE;
	cursor: pointer;
*/
}


/* Footer extras
-------------------------------------------------- */
#footer p {
	color: #999;
}

.link_icon {
	background-image: url(/m/img/icons/icons.png);
	display: inline-block;
	height: 16px;
	margin-right: 4px;
	vertical-align: middle;
	width: 16px;
}
.link_text:hover {
	text-decoration: underline;
}
#facebook .link_icon {
	background-position: 0 -64px;
}
#twitter .link_icon {
	background-position: -48px -64px;
}

#social_links li {
	display: inline;
	list-style: none;
}
#social_links li a {
	padding: 3px 8px;
	text-decoration: none;
}