/*
 * index.css - specific styles for the homepage
 */


/* Middle styles
-------------------------------------------------- */
#searchbox {
	margin: 100px auto 140px auto;
	text-align: center;
}

#search_bar {
	margin: 0 auto 10px;
	width: 570px;
}

#id_keywords {
	border: 1px solid #999;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	color: #222;
	font-size: 19px;
	float: left;
	margin: 0;
	padding: 5px 10px 3px;
	width: 450px;
}
.tagline {
	color: #222;
	font-size: 2.2em;
	font-weight: normal;
	font-family: "Helvetica Roman", Helvetica, Arial, FreeSans, sans;
	margin-bottom: 20px;
	padding: 0;
	white-space: nowrap;
/* 	text-shadow: 1px 0 0 #666; */
}
#search_button {
	/*
border: 1px solid #0F61FF;
	border-top: 1px solid #267CFB;
	border-left: 1px solid #267CFB;
*/
	border-width: 1px;
	border-style: solid;
	border-color: /* #267CFB #267CFB */ #0F61FF #0F61FF;
	background-color: #1F77FF;
	background-image: url(/m/img/search_sprite.png);
	background-position: 0 0;
	color: white;
	font-size: 17px;
	font-weight: normal;
	float: left;
	height: 34px;
	/* letter-spacing: -0.08em; */
	margin: 0 0 0 5px;
	padding: 4px 10px 4px;
	text-shadow: 0 1px 1px #000;
	width: 90px;
}
#search_button:hover {
	background-color: #1F96FF;
	background-image: url(/m/img/search_sprite.png);
	background-position: 0 -32px;
	cursor: pointer;
}
#search_button:active {
	background-image: url(/m/img/search_sprite.png);
	background-position: 0 -64px;
	color: #CCC;
}

#city_select {
	font-size: 1.2em;
}

#id_city {
	border: 1px solid #999;
	border-top: 1px solid #CCC;
	border-left: 1px solid #CCC;
	padding: 2px 5px;
	font-size: 0.9em;
	width: 120px;
}
#id_city:hover {
	/*
background-color: #EEE;
	cursor: pointer;
*/
}


/* Footer extras
-------------------------------------------------- */
#footer p {
	color: #999;
}

.link_icon {
	background-image: url(/m/img/icons/icons.png);
	display: inline-block;
	height: 16px;
	margin-right: 4px;
	vertical-align: middle;
	width: 16px;
}
.link_text:hover {
	text-decoration: underline;
}
#facebook .link_icon {
	background-position: 0 -64px;
}
#twitter .link_icon {
	background-position: -48px -64px;
}

#social_links li {
	display: inline;
	list-style: none;
}
#social_links li a {
	padding: 3px 8px;
	text-decoration: none;
}