/*
 * search.css - styles for specific elements on the search results page
 */


#header {
	position: fixed;
}


/* Search toolbar 
-------------------------------------------------- */
#search_toolbar {
	border: 1px solid #CCC;
	background-color: #FFF;
	background-image: url(/m/img/stripe_EEExFFF_8x4.png);
	margin-bottom: 15px;
	padding: 10px 10px 5px 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 1px 0px 0px #999;
	-webkit-border-shadow: 0 1px 0px 0px #999;
	box-shadow: 0 1px 0px 0px #999;
}
#search_toolbar input {
	/* -moz-box-shadow: inset 0 1px 0px 0px #CCC; */
}
#search_toolbar br {
	margin: 0.8em 0;
}
#country_time_select {
	padding: 5px 3px;
	color: black;
}
#country_time_select input {
	margin: 0 3px;
}
#id_keywords {
	border-width: 1px;
	border-style: solid;
	border-color: #999 #CCC #CCC;
	height: 23px;
	float: left;
	margin: 0;
	padding: 2px 5px;
	width: 340px;
}
#id_keywords:focus {
	/* border: 1px solid #999; */
}

#search .button {
	font-family: inherit;
	font-size: 1.2em;
	font-weight: bold;
	float: left;
	height: 28px;
	margin: 0 0 0 5px;
	outline: none;
	padding: 0 5px;
	text-shadow: 0px 1px 1px #444;
	width: auto;
}
#search .button:active {
	outline: none;
}
#search_button {
	background-color: #1F77FF;
	background-image: url(/m/img/search_sprite.png);
	background-position: 0 0;
}
#search_button:active {
	/* color: #B2CDFB; */
	background-position: 0 -64px;
	outline: 0;
	-moz-box-shadow: inset 0 1px 0px 0px #2145BF;
}

#save_button {
	border: 1px solid #287511;
	background-color: #00AD00;
	background-image: url(/m/img/save_sprite.png);
	color: #FFF;
	margin-left: 4px;
	-moz-box-shadow: inset 0 1px 0px 0px #00DC6B;
}
#save_button:hover {
	background-position: 0 -33px;
	background-color: #00AD00;
	border: 1px solid #287511;
	color: white;
}
#save_button:active {
	/* color: #BEDFBF; */
	background-position: 0 -65px;
	outline: 0;
	-moz-box-shadow: inset 0 1px 0px 0px #145800;
}

#id_city {
	border-width: 1px;
	border-style: solid;
	border-color: #999 #CCC #CCC;
	font-size: 0.9em;
	margin: 0;
	padding: 2px 5px;
	width: 120px;
}
#id_days {
	border-width: 1px;
	border-style: solid;
	border-color: #999 #CCC #CCC;
	font-size: 0.9em;
	font-family: inherit;
	margin: 0;
	padding: 2px 5px;
	width: 28px;
}

#view_options {
	background: #FFF;
	padding: 10px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
}
#view_options .ui-button-text {
	font-size: 0.9em;
}
.search_toolbar_extra {
	clear: both;
	margin-bottom: 3px;
}
#search_messages {
	max-height: 50px;
	overflow: auto;
}
/*
#hl_off_label, #minimal_view_label, #summary_view_label, #date_label {
	border-left: none;
}
*/


/* Search Results
-------------------------------------------------- */
.search_result {
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin-bottom: 8px;
	padding: 6px 10px;
	background-image: url(/m/img/stripe_EEE_FFF.png);
}
.search_result div {
	margin: 0.1em 0 0.5em 0;
}
.search_result div:first-child {
	margin-top: 2px;
}
.search_result div:last-child {
	margin-bottom: 2px;
}
.search_result h5 {
	color: #444;
	font-size: 0.8em;
	font-weight: normal;
	line-height: normal;
	margin: 0;
	text-transform: uppercase;
}
.result_title a {
	color: #1F77FF;
	font-weight: bold;
	font-size: 1.2em;
	max-width: 430px;
	padding: 0px 3px;
}
.result_title a:hover {
	background-color: #1F77FF;
	color: white;
}
.search_result .result_options {
	float: right;
	margin: 0 0 0 0;
}
.result_options button {
	background-color: transparent;
	background-image: url(/m/img/icons/icons.png);
	border: 0;
	margin: 0.2em 0 0.2em 0.2em;
	outline: 0;
	padding: 0;
	height: 12px;
	width: 12px;
}
.result_options button:hover {
	cursor: pointer;
}
.result_save {background-position: -48px -16px;}
.result_save:hover {background-position: -64px -16px;}
.result_save:active {background-position: -80px -16px;}
.result_close {background-position: -48px 0px;}
.result_close:hover {background-position: -64px 0px;}
.result_close:active {background-position: -80px 0px;}

.summary_box, .details_box {
	border: 1px solid #CCC;
	background-color: #FFF;
	padding: 3px;
	max-height: 3.5em;
	overflow: hidden;
}
.summary_box:hover, .details_box:hover {
	/* cursor: pointer; */
}
.highlight { 
	background-color: #CDF;
	color: black;
	font-weight: bold;
}
.result_links a {
	color: #00AD00;
	padding: 0 3px;
}
.result_links a:hover {
	background-color: #00AD00;
	color: white;
}

/*
 * Opened styles
 */
.opened_event {
	border: 1px solid #CCC;
	color: #444;
}
.opened_event a {
	color: #999;
}
.opened_event a:hover {
	background-color: #666;
	color: white;
}
.opened_event .summary_box, .opened_event .details_box {
	background-color: none;
}

/*
 * Saved styles
 */
.saved_event {
	border: 1px solid #FFD67D;
	background: #FFFFD7;
}
.saved_event .job_title a {
	color: #FFA528;
}
.saved_event .job_title a:hover {
	background-color: #FFA528;
	color: white;
}
.saved_event .summary_box, .saved_event .details_box {
	border-color: #FFD67D;
	background-color: transparent;
	background-color: #ffffe5;
	/* background-image: url(/m/img/stripe_FFF_FFFFD7.png); */
}
.saved_event .result_save {background-position: -64px -16px;}
.result_save:hover {background-position: -64px -16px;}
.result_save:active {background-position: -80px -16px;}
.saved_event .result_close {background-position: -64px 0px;}
.result_close:hover {background-position: -64px 0px;}
.result_close:active {background-position: -80px 0px;}


/* Sidebars
-------------------------------------------------- */
.widget_left, .widget_right {
	margin-bottom: 10px;
}
.widget_right .ui-accordion-content {
	padding: 0;
}
.widget_right ul li {
	color: #999;
	margin: 0;
	padding: 0;
}
.widget_right ul li {
	margin: 0;
	padding: 0;
}
/*
.widget_right ul li:first-child a {
	margin-top: 4px;
}
.widget_right ul li:last-child a {
	margin-bottom: 4px;
}
*/
.widget_right ul li a {
	color: #1F77FF;
	display: block;
	margin: 0;
	padding: 3px 8px;
	text-decoration: none;
}
.widget_right ul li a:hover {
	background-color: #EEE;
}
.widget_right ul li a:active {
	color: #CCC;
}

.link_icon {
	background-image: url(/m/img/icons/icons.png);
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: middle;
	margin-right: 4px;
}
.link_text {
	text-decoration: underline;
}
.item_date {
	color: #999;
}

#search_history .link_icon {
	background-position: -192px -48px;
}
#saved_searches .link_icon {
	background-position: -16px -48px;
}
#favorite_posts .link_icon {
	background-position: -112px -48px;	
}

#icon_contact {background-position: -176px -48px;}
#icon_about {background-position: -48px -48px;}
#icon_help {background-position: -160px -48px;}
#icon_donate {background-position: -144px -48px;}
#icon_facebook {background-position: 0 -64px;}
#icon_twitter {background-position: -48px -64px;}
#icon_terms {background-position: -256px -48px;}
#icon_privacy {background-position: -272px -48px;}

/* Search Filters and Left Column
-------------------------------------------------- */
#left_links {
	text-align: right;
}
.remove_filter {
	padding-left: 20px;
	line-height: 1.6em;
	color: #555;
}
