/* Search toolbar 
-------------------------------------------------- */
#search_toolbar {
	border: 1px solid #CCC;
	background-color: #FFF;
	background-image: url(/m/img/stripe_EEE_FFF.png);
	margin-bottom: 15px;
	padding: 10px 10px 5px 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#search_toolbar br {
	margin: 0.8em 0;
}
#search {
	/* padding: 10px; */
}
#country_time_select {
	padding: 5px 3px;
	color: black;
}
#country_time_select input {
	margin: 0 3px;
}
#id_keywords {
	border: 1px solid #CCC;
	height: 21px;
	float: left;
	margin: 0 0 2px 0;
	padding: 5px;
	width: 320px;
}
#id_keywords: {
	
}
#id_city {
	font-size: 0.9em;
	margin: 0;
	padding: 1px 5px;
	width: 120px;
}
#id_city:hover {
	background-color: #EEE;
	cursor: pointer;
}
#id_days {
	font-size: 0.9em;
	font-family: Helvetica, Arial, FreeSans, sans;
	margin: 0;
	padding: 1px 5px;
	width: 20px;
}
#id_days:hover {
	background-color: #EEE;
	cursor: pointer;
}
#id_days:focus {
	cursor: text;
}
#view_options {
	background: #FFF;
	border: 1px solid #CCC;
	padding: 10px;
	-moz-border-radius: 4px;
	border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
}
#buttons {
	width: 145px;
	padding: 0;
	margin: 1px 0 0 7px;
	float: left;
}
#buttons input {
	font-family: Helvetica, Arial, FreeSans, sans;
	font-size: 1.2em;
	font-weight: bold;
	height: 28px;
	outline: none;
	padding: 0 10px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
#buttons input:active {
	outline: none;
}
.search_toolbar_extra {
	clear: both;
	margin-bottom: 3px;
}
#search_button {
	color: #FFF;
	border: 0px solid #224CC4;
	/* background-image: url(/m/img/search_sprite.png); */
	background-position: 0 0;
	/* background-color: #1F77FF; */
	background-color: #1F77FF;
}
#search_button:hover {
	background-position: 0 -32px;
	background-color: #52a1ff;
	color: white;
}
#search_button:active {
	color: #B2CDFB;
	background-position: 0 -64px;
	outline: 0;
}
#save_button {
	border: 0px solid #287511;
	/* background-image: url(/m/img/save_sprite.png); */
	background-position: 0 0;
	background-color: #00AD00;
	color: #FFF;
	margin-left: 4px;
}
#save_button:hover {
	background-position: 0 -33px;
	background-color: #00AD00;
	border: 0px solid #287511;
	color: white;
}
#save_button:active {
	color: #BEDFBF;
	background-position: 0 -65px;
	outline: 0;
}
#search_messages {
	max-height: 50px;
	overflow: auto;
}
#hl_off_label, #minimal_view_label, #summary_view_label, #date_label {
	border-left: none;
}


/* Search Results
-------------------------------------------------- */
.search_result  {
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin-bottom: 5px;
	padding: 6px 10px;
	background-image: url(/m/img/stripe_EEE_FFF.png);
}
.search_result div {
	margin: 0.1em 0 0.5em 0;
}
.search_result div:first-child {
	margin-top: 2px;
}
.search_result div:last-child {
	margin-bottom: 2px;
}
.search_result h5 {
	color: #666;
	font-size: 0.8em;
	font-weight: normal;
	line-height: normal;
	margin: 0;
	text-transform: uppercase;
}
.result_title {
	font-weight: bold;
	max-width: 430px;
}
.result_title a {
	color: #1F77FF;
	font-size: 1.2em;
}
.result_title a:hover {
	background-color: #1F77FF;
	color: white;
}
.search_result .result_options {
	float: right;
	margin: 0 0 0 0;
}
.result_options button {
	background-color: transparent;
	background-image: url(/m/img/icons/icons.png);
	border: 0;
	margin: 0.2em 0 0.2em 0.2em;
	outline: 0;
	padding: 0;
	height: 12px;
	width: 12px;
}
.result_options button:hover {
	cursor: pointer;
}
.result_save {background-position: -48px -16px;}
.result_save:hover {background-position: -64px -16px;}
.result_save:active {background-position: -80px -16px;}
.result_close {background-position: -48px 0px;}
.result_close:hover {background-position: -64px 0px;}
.result_close:active {background-position: -80px 0px;}

.summary_box, .details_box {
	border: 1px solid #CCC;
	background-color: #FFF;
	padding: 3px;
	max-height: 3.5em;
	overflow: hidden;
}
.summary_box:hover, .details_box:hover {
	/* cursor: pointer; */
}
.highlight { 
	background-color: #CDF;
	color: black;
	font-weight: bold;
}
.result_links a {
	color: #00AD00;
	padding: 0 3px;
}
.result_links a:hover {
	background-color: #00AD00;
	color: white;
	
	-moz-border-radius: 3px;
}
/* -- Opened -- */
.ui-widget ul {
	color: #333;
}
.opened_event {
	border: 1px solid #CCC;
	color: #666;
}
.opened_event .job_title a {
	color: #999;
}
.opened_event .result_links a {
	color: #666;
}
.opened_event .summary_box, .opened_event .details_box {
	background-color: none;
}

/* -- Saved -- */
.saved_event {
	border: 1px solid #FFD67D;
	background: #FFFFD7;
}
.saved_event .job_title a {
	color: #FFA528;
}
.saved_event .summary_box, .saved_event .details_box {
	border-color: #FFD67D;
	background-color: transparent;
	background-color: #ffffe5;
	background-image: url(/m/img/stripe_FFF_FFFFD7.png);
}

/* Sidebars
-------------------------------------------------- */
.widget_left, .widget_right {
	margin-bottom: 10px;
}
.widget_right ul li {
	color: #999;
	padding-bottom: 5px;
}
.widget_right ul li a {
	color: #1F77FF;
	padding-left: 20px;
}
#widget_history ul li {
	background-image: url(/m/img/icons/clock.png);
	background-repeat: no-repeat;
}
#widget_saved ul li {
	background-image: url(/m/img/icons/star_1.png);
	background-repeat: no-repeat;
}
#widget_favourites ul li {
	background-image: url(/m/img/icons/pin.png);
	background-repeat: no-repeat;
}

#widget_social .ui-accordion .ui-accordion-content {
	padding: 0;
}
#widget_social ul li {
	margin: 0;
	padding: 0;
}
#widget_social ul li a {
	text-decoration: none;
	margin: 0;
	padding: 3px 8px;
	display: block;
}
#widget_social ul li:first-child a {
	padding-top: 6px;
}
#widget_social ul li:last-child a {
	padding-bottom: 6px;
}
#widget_social ul li a:hover {
	background-color: #EEE;
}
#widget_social ul li a:active {
	color: #CCC;
}
.link_icon {
	background-image: url(/m/img/icons/icons.png);
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: middle;
	margin-right: 4px;
}
.link_text {
	text-decoration: underline;
}
#icon_contact {background-position: -176px -48px;}
#icon_about {background-position: -48px -48px;}
#icon_help {background-position: -160px -48px;}
#icon_donate {background-position: -144px -48px;}
#icon_facebook {background-position: 0 -64px;}
#icon_twitter {background-position: -48px -64px;}
#icon_terms {background-position: -256px -48px;}
#icon_privacy {background-position: -272px -48px;}

/* Search Filters and Left Column
-------------------------------------------------- */
#left_links {
	text-align: right;
}
.remove_filter {
	padding-left: 20px;
	line-height: 1.6em;
	color: #555;
}
