

/* User Account Styles */

#user_tabs p.user_field .success, 
#user_tabs p.user_field .error,
#user_tabs p.user_field .alert,
#user_tabs p.user_field .info,
#user_tabs p.user_field .notice {
	padding: 0.2em;
	float: left;
	margin: 0;
}


#user_tabs p.user_field {
	clear: both;
}
#user_tabs p.user_field label {
	width: 150px;
	display: block;
	float: left;
	margin: 0.5em 0;
}

#user_tabs p.user_field input {
	width: 250px;
	display: block;
	float: left;
}
#user_tabs p.user_field .help_text {
	display: block;
	float: left;
	clear: left;
	margin: 0.5em 0;
}


/* User List table Styles */

.saved_search_icon {
	background-position: -16px -48px;
	background-image: url(/m/img/icons.png);
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: middle;
	margin-right: 4px;
}
.list_data {
	background: #E8EDFF;
}
.list_data THEAD TD{
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
	font-weight: bold;
}
.list_data TBODY TD {
	border-bottom: 1px solid white;
}
.list_data THEAD TR TD {
	width: 80px
}
.list_data THEAD TR TD:nth-child(1) {
	width: 18px
}
.search_list THEAD TR TD:nth-child(2) {
	width: 18px
}
.search_list THEAD TR TD:nth-child(3) {
	width: auto;
}
.search_list THEAD TR TD:nth-child(4) {
	width: 120px
}

.posting_list THEAD TR TD:nth-child(2) {
	width: auto;
}
.posting_list THEAD TR TD:nth-child(3) {
	width: 80px;
}

#user_lists UL LI {
	list-style: none;
	display: block;
	float: left;
	width: 130px;
	margin: 0 10px 30px 0;
	text-align: center;
	border: 1px solid #ccc;

}
#user_lists UL LI {
	font-size: 1.2em;
}
#list_content {
	clear: both;
}
