<h3 id="<%=id%>"><a href="#"> <%=title%> </a></h3>
<div>
	<ul class="plain">
		<% $.each(content, function(i, item) { %>
			<li><a href="#" class="closeable_item"><%=item.terms%></a> <%=item.date%></li> 
		<% }) %>
	</ul>
</div>
