<!DOCTYPE html>
<html lang="en">
<head>
	<title>Perzoot {{ perzoot_city }} </title>

	<link rel="stylesheet" href="/m/css/blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/m/css/blueprint/print.css" type="text/css" media="print" />
	<!--[if IE]><link rel="stylesheet" href="/m/css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<link rel="stylesheet" href="/m/css/general.css" type="text/css" />
	<link rel="stylesheet" href="/m/css/perzoot/jquery-ui-1.8.6.custom.css" type="text/css" />
	<link rel="stylesheet" href="/m/css/jquery.fix.css" type="text/css" />

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.js" ></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.js" ></script> 
<!--	

<script type="text/javascript" src="/m/js/tmp/jquery-1.4.2.min.js" ></script>
<script type="text/javascript" src="/m/js/tmp/jquery-ui-1.8.6.custom.min.js"></script>
	-->


	<script type="text/javascript" src="/js_statics.js"></script>
	<script type="text/javascript" src="/m/js/jquery.highlight-3.js"></script>
	<script type="text/javascript" src="/m/js/ejs_production.js" ></script>
	<script type="text/javascript" src="/m/js/pz.pagedata.js"></script>
	<script type="text/javascript" src="/m/js/pz.general.js"></script>
	<script type="text/javascript" src="/m/js/pz.widgets.js"></script>
	<script type="text/javascript" src="/m/js/pz.enhance.js"></script>

	{% block document_head %}
	<script type="text/javascript">
		$(document).ready(function() {
			default_doc_ready();
		});
	</script>
	{% endblock %}

</head>
<body>

<div id="header" class="clear">
	<div class="container">
	{% block page_header %}
	<div class="span-16" id="logo_div">
		<a href="#"><img src="/m/img/logo_trans_146x55.png" /></a>
	</div>

	<div class="span-8 last" id="user_block">
	</div>
	{% endblock %}
	</div>
</div>

<div id="main" class="clear">
	<div class="container">
	{% block content %}
		
		{% include content_block %}

	{% endblock %}
	</div>
</div>


<div id="footer">
	<div class="container">
	{% block page_footer %}
	<div class="center">
		<p class="bottom">All trademarks and copyrights are the property of their respective owners.</p>
		<p class="bottom"><a rel="license" href="http://creativecommons.org/licenses/by/2.5/ca/">
		<img alt="Creative Commons License" style="border-width:0; vertical-align: text-top" 
			src="http://i.creativecommons.org/l/by/2.5/ca/80x15.png" /></a>
			<span xmlns:dc="http://purl.org/dc/elements/1.1/" 
				href="http://purl.org/dc/dcmitype/InteractiveResource" property="dc:title" rel="dc:type">Perzoot</span> by 
			<a xmlns:cc="http://creativecommons.org/ns#" href="http://perzoot.com" 
			property="cc:attributionName" rel="cc:attributionURL">perzoot.com</a> 
			is licensed under a <a rel="license" 
			href="http://creativecommons.org/licenses/by/2.5/ca/">Creative Commons Attribution 2.5 Canada License</a>.</p>
	</div>
	{% endblock %}
	</div>
</div>

<div id="dialog_window"></div>
<div id="dialog_error"></div>
<div id="tooltip"><p></p></div>
</body>
</html>
