<!DOCTYPE html>
<html lang="en">
<head>
	<title>Perzoot {{ perzoot_city }} </title>

	<link rel="stylesheet" href="/m/css/blueprint/screen.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/m/css/blueprint/print.css" type="text/css" media="print" />
	<!--[if IE]><link rel="stylesheet" href="/m/css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
	<link rel="stylesheet" href="/m/css/general.css" type="text/css" />

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js" ></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.js" ></script>
	<script type="text/javascript" src="/m/js/ejs_production.js" ></script>
	<script type="text/javascript" src="/m/js/pz.pagedata.js"></script>
	<script type="text/javascript" src="/m/js/pz.searchpage.js"></script>
	<script type="text/javascript" src="/m/js/pz.tracking.js"></script>
	<script type="text/javascript" src="/m/js/pz.tooltips.js"></script>

	{% block document_head %}

	{% endblock %}

</head>
<body>
<div class="container ">
	{% block page_header %}
	<div class="span-20 clear" id="logo">
		<a href="#"><img src="" /></a><p class="large prepend-top">Employment opportunities made easy.</p>
	</div>

	<div class="span-4 last">
		<a href="#" class="span-2 default_button ">login</a>
		<a href="#" class="span-2 last default_button">register</a>
	</div>
	{% endblock %}

	<div id="main" class="span-24 last">
	{% block content %}


	{% endblock %}
	</div>

	{% block page_footer %}
	<div class="span-24 small last center" id="footer">
		<hr />
		<p class="bottom">This site has been made possible thanks to the following 
		open source tools: Python, Postgresql, Apache, Django, Solr, Vim, Ubuntu, Git</p>
		<p class="bottom"><a rel="license" href="http://creativecommons.org/licenses/by/2.5/ca/"><img 
				alt="Creative Commons License" style="border-width:0" 
				src="http://i.creativecommons.org/l/by/2.5/ca/80x15.png" /></a>
			<span xmlns:dc="http://purl.org/dc/elements/1.1/" 
				href="http://purl.org/dc/dcmitype/InteractiveResource" property="dc:title" rel="dc:type">Perzoot</span> by 
			<a xmlns:cc="http://creativecommons.org/ns#" href="http://perzoot.com" 
			property="cc:attributionName" rel="cc:attributionURL">perzoot.com</a> 
			is licensed under a <a rel="license" 
			href="http://creativecommons.org/licenses/by/2.5/ca/">Creative Commons Attribution 2.5 Canada License</a>.</p>
	</div>
	{% endblock %}
</div>
</body>
</html>
