{% extends "base.html" %}

{% block document_head %}
	<link rel="stylesheet" type="text/css" href="/m/css/index.css" />

	<script type="text/javascript">
		$(document).ready(function() {
			default_doc_ready();
			$('#id_keywords').focus();
			clickcomplete($('#id_city'), CITIES);
	});
	</script>

{% endblock %}

{% block content %}
	<div class="span-24 center last" id="searchbox">

	<form id="search" action="{% url jobsite_main.views.search %}" method="POST">
		<p> 
			<label for="keywords">
				<span id="keywords_label">Employment Search. Simple, Fast and Focused.</span>
			</label><br /> 
			{{ search_form.keywords }}
			<input type="submit" value="Search" class="search_button" id="search_button_main" /><br />
			Search for jobs in {{ search_form.city }}
			<input type="hidden" name="days" value="14" />
		</p>
		{% csrf_token %}

	</form>
	<p></p>

	</div>
{% endblock %}



{% block page_footer %}

	<div class="span-24 center last" id="menu">
	<p class="center">
<!--		<a class="async" href="{% url static_page 'statistics' %}">Search Statistics</a> | -->
		<a class="async" href="{% url static_page 'aboutus' %}">About Perzoot</a>  | 
		<a class="async" href="{% url contactus %}">Contact us</a> |
		<a class="async" href="{% url static_page 'terms' %}">Terms of Use</a> |  
		<a class="async" href="{% url static_page 'privacy' %}">Privacy Policy</a> 
	</p>
	<div>
		<ul id="social-links">
			<li id="facebook"><a href="http://www.facebook.com/apps/application.php?id=146340722079336">Like us on Facebook</a></li>
			<li id="twitter"><a href="http://www.twitter.com/perzoot">Follow us on Twitter</a></li>
		</ul>
	</div>
	</div>

	{{ block.super }}
{% endblock %}
