{% extends "base.html" %}

{% block document_head %}

<script type="text/javascript">
$(document).ready(function() {
	default_doc_ready();
	set_search_keybind();
});

</script>

{% endblock %}

{% block content %}
	<div class="span-24 center last" id="searchbox">

	<form id="search" action="{% url jobsite_main.views.search %}" method="GET">
		<p> 
			<label for="keywords"><span id="keywords_label">What kind of job are you looking for?</span></label> 
		</p> 
		<p>
			{{ search_form.keywords }}	
			<input type="submit" value="Search" id="search_button" />
		</p>
		<p>
			Search for jobs in {{ search_form.city }} posted in the last
			{{ search_form.days }} day(s) | 
			<a href="#">More Options</a>

		</p>

	</form>
	</div>

	<div class="span-24 center last" id="menu">
	<hr />
	<p class="center">
		<a class="async" href="{% url static_page 'statistics' %}">Search Statistics</a> | 
		<a class="async" href="{% url static_page 'aboutus' %}">About Perzoot</a>  | 
		<a class="async" href="{% url static_page 'reportproblem' %}">Report a problem</a> | 
		<a class="async" href="{% url static_page 'contactus' %}">Contact us</a> |
		<a class="async" href="{% url static_page 'terms' %}">Terms of Use</a> 
	</p>

	</div>
{% endblock %}
