{% extends "base.html" %}

{% block document_head %}

<script type="text/javascript">
$(document).ready(function() {

	default_doc_ready();
	setInterval('check_page_data_has_changed()', 1000);
	$(window).scroll(handle_search_scroll)
	set_search_keybind();
	search();

});
</script>

{% endblock %}

{% block content %}
<form action="{% url jobsite_main.views.index %}" method="GET" id="search">
<ul>
	{{ search_form.as_ul }}
	<input type="button" value="Search" onClick="search()" id="search_button" />
</ul>
</form>


<div id="results">

</div>



{% endblock %}
