{% extends "base.html" %}

{% block document_head %}
	<script type="text/javascript" src="/m/js/pz.searchpage.js"></script>
	<link rel="stylesheet" type="text/css" href="/m/css/search.css" />

	<script type="text/javascript">
	$(document).ready(function() {

		tiles($('.tile_widget'));
		default_doc_ready();
		setInterval('check_page_data_has_changed()', 1000);
		update_saved_search();
		update_favorite_postings();

		$('#sort_buttons').buttonset();
		$('#view_buttons').buttonset();
		$('#hl_buttons').buttonset();

		$('#view_buttons INPUT').click(update_result_view);
		$('#sort_buttons INPUT').click(resort_search);
		$('#hl_buttons INPUT').click(highlight_toggle);

		// if page_data is blank, this should be an initial page load 
		if (!get_timestamp_data().length) {
			var data = {'code': OK, 'content': {{ content|default:"''"|safe }} };
			handle_search_response(data);
			var form_data = build_form_data();
			set_page_data(form_data);
		}

		// Store original placement for left and right bar
		$('#left_bar,#right_bar').each(function() {
			$(this).data('orig_top', $(this).position()['top']);
		});
		$(window).scroll(handle_search_scroll);

		clickcomplete($('#id_city'), CITIES);
		clickcomplete($('#id_days'), DAYS);
	});

	</script>

{% endblock %}


{% block content %}

<div class="span-5 prepend-top">

	<div id="left_bar" class="span-5 last">
		<div id="left_menu" class="tile_widget">
		</div>
	</div>
</div>

<div class="span-13 prepend-top">

	<div id="search_toolbar">
	<form action="{% url jobsite_main.views.search %}" method="GET" id="search">
		{{ search_form.keywords }}
		<div id="buttons">
			<input type="submit" id="search_button" class="button ignore button_main" value="Search" />
			<input type="button" id="save_button"  class="button ignore button_main" value="Save"
			onclick="return save_search(this)" /><br />
		</div>
		<div id="country_time_select" class="search_toolbar_extra">
			jobs in {{ search_form.city }} posted in the last {{ search_form.days }} days
			<input type="hidden" name="sort" id="id_sort" value="" />
			{{ search_form.filter_category }}
			{{ search_form.filter_domain }}
			{{ search_form.filter_company }}
		</div>
	</form>
		<div id="view_options" class="search_toolbar_extra">
			<span id="sort_buttons">
			Sort: 
				<input type="radio" id="relevancy" name="sort"/><label for="relevancy">Relevancy</label>
				<input type="radio" id="date" name="sort"/><label for="date">Date</label>
			</span>
			<span id="view_buttons">
			View: 
				<input type="radio" id="full_view" name="view"/><label for="full_view">Full</label>
				<input type="radio" id="summary_view" name="view"/><label for="summary_view">Summary</label>
				<input type="radio" id="minimal_view" name="view"/><label for="minimal_view">Minimal</label>
			</span>
			<span id="hl_buttons">
			Highlight: 
				<input type="radio" id="hl_on" name="highlight"/><label for="hl_on">On</label>
				<input type="radio" id="hl_off" name="highlight"/><label for="hl_off">Off</label>
			</span>
		</div>

		<div id="search_toolbar_messages">
		
<!--			<a href="#">Hide</a> -->
			<ul id="search_messages" class="plain">
			</ul>
		
		</div>
	</div>
	<div id="results">
	</div>
</div>

<div class="span-6 last prepend-top">

	<div id="right_bar" class="span-6 last">
	<div class="tile_widget" id="search_meta">
		<div id="widget_history" class="widget_right">
			<h3 id="search_history"><a href="#">Search History</a></h3>
			<div></div>
		</div>

		<div id="widget_saved" class="widget_right">
			<h3 id="saved_searches" class="tile_default_closed">
				<a href="#">Saved Searches</a></h3>
			<div>
				<p>No saved searches.</p>
			</div>
		</div>
		
		<div id="widget_favourites" class="widget_right">
			<h3 id="favorite_posts" class="tile_default_closed">
				<a href="#">Your Favourite Postings</a></h3>
			<div>
				<p>No favorite postings.</p>
			</div>
		</div>
		
		<div id="widget_social" class="widget_right">
			<h3><a href="#">Perzoot</a></h3>
			<div>
				<ul id="social-links" class="plain">
					<li id="facebook"><a href="#">Like us on Facebook</a></li>
					<li id="twitter"><a href="http://www.twitter.com/perzoot">Follow us on Twitter</a></li>
					<li>&nbsp;</li>
					<li><a class="async" href="{% url static_page 'donate' %}">Donate</a> to stay ad free</li>
					<li><a class="async" href="{% url static_page 'help' %}">Help</a></li>
					<!-- <li><a class="async" href="{% url static_page 'statistics' %}">Search Statistics</a></li>  -->
					<li><a class="async" href="{% url static_page 'aboutus' %}">About Perzoot</a></li>
					<!-- <li><a class="async" href="{% url static_page 'reportproblem' %}">Report a problem</a></li> --> 
					<li><a class="async" href="{% url static_page 'contactus' %}">Contact us</a></li>
					<li><a class="async" href="{% url static_page 'terms' %}">Terms of Use</a></li>  
					<li><a class="async" href="{% url static_page 'privacy' %}">Privacy Policy</a></li>
				</ul>
			</div>
		</div>
	</div>
	</div>
</div>


{% endblock %}
