{% extends 'base.html' %}

{% block document_head %}
	<script type="text/javascript" src="/m/js/pz.userpage.js" ></script>
	<link rel="stylesheet" type="text/css" href="/m/css/user.css" />
{% endblock %}

{% block content %}

	<div class="prepend-top"><a href="{% url jobsite_main.views.search %}">&lt;&lt; Return to search</a></div>

	
	<div id="user_tabs">
		<ul>
			<li><a href="#user_details"><span>Account</span></a></li>
			<li><a href="#user_lists"><span>Search and Posting Lists</span></a></li>
			<li><a href="#pref"><span>Preferences</span></a></li>
		</ul>

		<div id="user_details">
			<p>Update your account settings.  </p>

			<form id="account_form" fieldaction="{% url user_field_update %}">
				{% for field in user_form %}
					<p class="user_field">
					{{ field.label_tag }} {{ field }}
					<span class="status" id="status_{{field.html_name}}"></span>
					<span class="help_text">{{ field.help_text }}</span>
					</p>
				{% endfor %}
			
				<div class="clear"> </div>
				<p class="clear prepend-top">
					<input type="button" value="Done" />
				</p>
			</form>

		</div>

		<div id="pref">
			<p>Update your site preferences.</p>

		</div>

		<div id="user_lists">
			<p>View and edit any of the following lists.</p>
			<ul>
				<li><a href="#" onclick="return fetch_list('saved_searches')">Saved Searches</a></li>
				<li><a href="#" onclick="return fetch_list('search_history')">Search History</a></li>
				<li><a href="#" onclick="return fetch_list('favorite_postings')">Favorite Postings</a></li>
				<li><a href="#" onclick="return fetch_list('deleted_postings')">Deleted Postings</a></li>
			</ul>

			<div id="list_content">

			</div>

		</div>
	</div>

{% endblock %}
