<div>

	<p>
	Signup for an account now! It's fast, and it will ensure that you
	won't lose any of your search history!
	</p>

	{% if form.errors %}
	<div class="error">
		{{ form.non_field_errors }}
		{% for field in form %}
			{% if field.errors %}
				{{ field.label }}
				{{ field.errors }}
			{% endif %}
		{% endfor %}
	</div>
	{% endif %}

	<form id="register_form" method="GET" action="{% url register %}"
		onsubmit="handle_user_account_action(this)">
		<fieldset>
			<legend>Register</legend>
	
			{% for field in form %}
				<p>
				{{ field.label_tag }} 
					{% if field.field.required %}<span class="req_star">*</span>{% endif %}: 
					{{ field }}
				</p>
			{% endfor %}

			<input type="submit" value="Register" />
			<input type="hidden" name="submit" value="1" />
		</fieldset>
	</form>

</div>
